In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [4]:
df = pd.read_csv("Automobile.csv")
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70,usa
1,buick skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70,usa
2,plymouth satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70,usa
3,amc rebel sst,16.0,8.0,304.0,150.0,3433.0,12.0,70,usa
4,ford torino,17.0,NaN,302.0,140.0,3449.0,10.5,70,usa

In [7]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     395 non-null    float64
 3   displacement  395 non-null    float64
 4   horsepower    386 non-null    float64
 5   weight        396 non-null    float64
 6   acceleration  395 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 28.1+ KB

(398, 9)

In [8]:
df.isnull().sum()

name             0
mpg              0
cylinders        3
displacement     3
horsepower      12
weight           2
acceleration     3
model_year       0
origin           0
dtype: int64

In [9]:
df.dropna(subset = "horsepower", inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          386 non-null    object
 1   mpg           386 non-null    float64
 2   cylinders     383 non-null    float64
 3   displacement  383 non-null    float64
 4   horsepower    386 non-null    float64
 5   weight        384 non-null    float64
 6   acceleration  384 non-null    float64
 7   model_year    386 non-null    int64
 8   origin        386 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 30.2+ KB

In [10]:
df["horsepower"].fillna(df["horsepower"].median(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          386 non-null    object
 1   mpg           386 non-null    float64
 2   cylinders     383 non-null    float64
 3   displacement  383 non-null    float64
 4   horsepower    386 non-null    float64
 5   weight        384 non-null    float64
 6   acceleration  384 non-null    float64
 7   model_year    386 non-null    int64
 8   origin        386 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 30.2+ KB

/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/809309310.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["horsepower"].fillna(df["horsepower"].median(), inplace=True)

In [12]:
df["horsepower"].fillna(df["horsepower"].median(), inplace=True)
df["cylinders"].fillna(df["cylinders"].mean(), inplace=True)
df["weight"].fillna(df["weight"].mean(), inplace=True)
df["displacement"].fillna(df["displacement"].mean(), inplace=True)
df["acceleration"].fillna(df["acceleration"].mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          386 non-null    object
 1   mpg           386 non-null    float64
 2   cylinders     386 non-null    float64
 3   displacement  386 non-null    float64
 4   horsepower    386 non-null    float64
 5   weight        386 non-null    float64
 6   acceleration  386 non-null    float64
 7   model_year    386 non-null    int64
 8   origin        386 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 30.2+ KB

/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/1198174647.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["horsepower"].fillna(df["horsepower"].median(), inplace=True)
/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/1198174647.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cylinders"].fillna(df["cylinders"].mean(), inplace=True)
/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/1198174647.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["weight"].fillna(df["weight"].mean(), inplace=True)
/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/1198174647.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["displacement"].fillna(df["displacement"].mean(), inplace=True)
/var/folders/dz/mssf7jjj0m7g6t776bksdgpc0000gn/T/ipykernel_10844/1198174647.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["acceleration"].fillna(df["acceleration"].mean(), inplace=True)

In [13]:
c=["horsepower","cylinders","weight","displacement","acceleration"]
sc1=StandardScaler()
df[c]=sc1.fit_transform(df[c])
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,1.504624,1.091351,0.675237,0.634002,-1.295242,70,usa
1,buick skylark 320,15.0,1.504624,1.505797,1.595396,0.858567,-1.478355,70,usa
2,plymouth satellite,18.0,1.504624,1.197372,1.201042,0.553206,-1.661469,70,usa
3,amc rebel sst,16.0,1.504624,1.062436,1.201042,0.549642,-1.295242,70,usa
4,ford torino,17.0,0.000000,1.043160,0.938140,0.568652,-1.844582,70,usa

In [14]:
d=["horsepower","cylinders","weight","displacement","acceleration"]
sc2=MinMaxScaler()
df[d]=sc2.fit_transform(df[d])
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,1.000000,0.617571,0.456522,0.536150,0.238095,70,usa
1,buick skylark 320,15.0,1.000000,0.728682,0.646739,0.589736,0.208333,70,usa
2,plymouth satellite,18.0,1.000000,0.645995,0.565217,0.516870,0.178571,70,usa
3,amc rebel sst,16.0,1.000000,0.609819,0.565217,0.516019,0.238095,70,usa
4,ford torino,17.0,0.490862,0.604651,0.510870,0.520556,0.148810,70,usa

In [16]:
x=df[["mpg","cylinders","weight","displacement","acceleration"]]
y=df["horsepower"]
y.head()

0    0.456522
1    0.646739
2    0.565217
3    0.565217
4    0.510870
Name: horsepower, dtype: float64

In [17]:
final=pd.concat([x,y],axis=1)
final.to_csv("LAB2Car.csv",index=False)